section{
	position: relative;
	top: 0;
	margin: auto;	
	font-size: 30px;
}

#rock{
	top: 100px;
	position: absolute;
	left: 230px;

}

p{
	align-content: center;
	opacity: 1;
	margin: auto;
	top :140px;
	width: 250px;
	height: 80px;
	left :280px;
	position: absolute;
}

nav{
	position: relative;
	margin: auto;
	top:450px;
	height: 145px;
	display: flex;
	justify-content: space-between;
}
