#transparente{
	position: relative;
	margin: auto;
	width: 600px;
	height: 300px;
	top:160px;
	background-color: black;
	opacity: 0.6;
}
#texto{
	position: absolute;
	width: 500px;
	height: 300px;
	left: 150px;
	top: 180px;
	font-size: 20px;
	color: white;
}

h1{
	opacity: 1;
	position: relative;
	margin: auto;
	width: 200px;
}

p{
	align-content: center;
	opacity: 1;
	
}

nav{
	position: relative;
	margin: auto;
	top: 180px;
}
